{% extends 'base.html' %}

{% block head %}
<Title>Malta Account Login</Title>
{% endblock %}

{% block body %}
<body class="">
    <div class="container text-center">
        <form method="POST" class="form-signin" style="color:white; margin-top:230px">
            
            <h1 class="h1 mb-3 font-weight-normal">
                Login To Malta Account
            </h1>
            <br>
            {{ form.email(class="form-control", placeholder="Email Address") }}

            {{ form.pass_word(class="form-control", placeholder="Password", style="margin-top:20px") }}
        
            <br> <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br>
            <div class="checkbox mb-3">
                <h6>Do not have an Account?</h6>
                <a href="{{ url_for('register_page') }}" class="btn btn-sm btn-secondary">Register New Account</a>
            </div>
        </form>
    </div>
</body>

<script>
    var home = document.getElementById("login");
    login.classList.add('active');
</script>
{% endblock %}